{
  "openapi": "3.0.0",
  "info": {
    "title": "ZeroBot API",
    "version": "1.0.0",
    "description": "API reference for ZeroBot"
  },
  "servers": [
    {
      "url": "https://api.zerobot.ai"
    }
  ],
  "paths": {
    "/v1/chat/system_message": {
      "get": {
        "summary": "Get system message",
        "parameters": [
          {
            "name": "uid",
            "in": "query",
            "required": true,
            "description": "The user ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/chat/completions": {
      "post": {
        "summary": "Create a completion",
        "description": "Creates a completion for the provided prompt and parameters.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "assistant_id": {
                    "type": "string",
                    "description": "The ID of the assistant to use to execute this run."
                  },
                  "thread_id": {
                    "type": "string",
                    "description": "The ID of the thread to use to execute this run."
                  },
                  "messages": {
                    "type": "array",
                    "description": "A list of messages to include in the completion request.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "role": {
                          "type": "string",
                          "description": "The role of the message sender. Can be 'user' or 'assistant'."
                        },
                        "content": {
                          "type": "array",
                          "description": "The content of the message.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "description": "The type of content. Can be 'text' or 'image_url'."
                              },
                              "text": {
                                "type": "string",
                                "description": "The text content of the message, if type is 'text'."
                              },
                              "image_url": {
                                "type": "object",
                                "description": "The image URL, if type is 'image_url'.",
                                "properties": {
                                  "url": {
                                    "type": "string",
                                    "description": "The URL of the image."
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "max_tokens": {
                    "type": "integer",
                    "description": "The maximum number of tokens to generate in the completion."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "completion": {
                      "type": "object",
                      "description": "A completion object."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/threads/{thread_id}/messages": {
      "post": {
        "summary": "Create a message",
        "description": "Create a new message in the specified thread.",
        "parameters": [
          {
            "name": "thread_id",
            "description": "The id of the thread to create a message for.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "assistant_id": {
                    "type": "string",
                    "description": "The ID of the assistant to use to execute this run."
                  },
                  "content": {
                    "type": "string",
                    "description": "The prompt(s) to generate completions for, encoded as a string, array of strings, array of tokens, or array of token arrays.\n\nNote that <|endoftext|> is the document separator that the model sees during training, so if a prompt is not specified the model will generate as if from the beginning of a new document."
                  },
                  "role": {
                    "type": "string",
                    "description": "The role of the entity that is creating the message.",
                    "enum": ["user", "assistant"],
                    "default": "user"
                  }
                },
                "required": ["content", "role"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "description": "A message object."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List messages",
        "description": "Returns a list of messages for a given thread.",
        "parameters": [
          {
            "name": "thread_id",
            "description": "The id of the thread to retrieve messages for.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "A list of message objects."
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/threads/{thread_id}/messages/{message_id}": {
      "get": {
        "summary": "Retrieve a message",
        "description": "Retrieve a message.",
        "parameters": [
          {
            "name": "thread_id",
            "description": "The ID of the thread to which this message belongs.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "message_id",
            "description": "The ID of the message to retrieve.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "description": "The message object matching the specified ID."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Modify a message",
        "description": "Modifies an existing message.",
        "parameters": [
          {
            "name": "thread_id",
            "description": "The ID of the thread to which this message belongs.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "message_id",
            "description": "The ID of the message to modify.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "content": {
                    "type": "string",
                    "description": "The updated content of the message."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "description": "The modified message object."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a message",
        "description": "Deletes a message.",
        "parameters": [
          {
            "name": "thread_id",
            "description": "The ID of the thread to which this message belongs.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "message_id",
            "description": "The ID of the message to delete.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "The deletion status.",
                      "enum": ["success"]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/text-to-speech": {
      "post": {
        "summary": "API that converts text into lifelike speech with best-in-class latency & uses the most advanced AI audio model ever. Create voiceovers for your videos, audiobooks, or create AI chatbots for free.",
        "parameters": [
          {
            "name": "conversation_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "message",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "completion": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/chat/list_agents": {
      "post": {
        "summary": "List Agents",
        "parameters": [
          {
            "name": "uid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "completion": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  } 
}