{
  "openapi": "3.0.0",
  "info": {
    "title": "ZeroBot API",
    "version": "1.0.0",
    "description": "API reference for ZeroBot"
  },
  "servers": [
    {
      "url": "https://api.zerobot.ai"
    }
  ],
  "paths": {
    "/v1/chat/system_message": {
      "get": {
        "summary": "Get system message",
        "parameters": [
          {
            "name": "uid",
            "in": "query",
            "required": true,
            "description": "The user ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/assistants": {
      "post": {
        "summary": "Create an assistant",
        "description": "Create an assistant with a model and instructions.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["model"],
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "ID of the model to use. You can use the List models API to see all of your available models, or see our Model overview for descriptions of them."
                  },
                  "name": {
                    "type": "string",
                    "maxLength": 256,
                    "description": "The name of the assistant. The maximum length is 256 characters."
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 512,
                    "description": "The description of the assistant. The maximum length is 512 characters."
                  },
                  "instructions": {
                    "type": "string",
                    "maxLength": 256000,
                    "description": "The system instructions that the assistant uses. The maximum length is 256,000 characters."
                  },
                  "tools": {
                    "type": "array",
                    "description": "A list of tool enabled on the assistant. There can be a maximum of 128 tools per assistant. Tools can be of types code_interpreter, file_search, or function.",
                    "items": {
                      "anyOf": [
                        {
                          "type": "object",
                          "required": ["type"],
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": ["code_interpreter"],
                              "description": "The type of tool being defined: code_interpreter"
                            }
                          }
                        },
                        {
                          "type": "object",
                          "required": ["type"],
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": ["file_search"],
                              "description": "The type of tool being defined: file_search"
                            }
                          }
                        },
                        {
                          "type": "object",
                          "required": ["type", "function"],
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": ["function"],
                              "description": "The type of tool being defined: function"
                            },
                            "function": {
                              "type": "object",
                              "description": "The function properties for the tool."
                            }
                          }
                        }
                      ]
                    },
                    "default": [],
                    "maxItems": 128
                  },
                  "tool_resources": {
                    "type": "object",
                    "description": "A set of resources that are used by the assistant's tools. The resources are specific to the type of tool. For example, the code_interpreter tool requires a list of file IDs, while the file_search tool requires a list of vector store IDs.",
                    "properties": {
                      "code_interpreter": {
                        "type": "object",
                        "properties": {
                          "file_ids": {
                            "type": "array",
                            "description": "A list of file IDs made available to the code_interpreter tool. There can be a maximum of 20 files associated with the tool.",
                            "items": {
                              "type": "string"
                            },
                            "default": [],
                            "maxItems": 20
                          }
                        }
                      },
                      "file_search": {
                        "type": "object",
                        "properties": {
                          "vector_store_ids": {
                            "type": "array",
                            "description": "The vector store attached to this assistant. There can be a maximum of 1 vector store attached to the assistant.",
                            "items": {
                              "type": "string"
                            },
                            "maxItems": 1
                          },
                          "vector_stores": {
                            "type": "array",
                            "description": "A helper to create a vector store with file_ids and attach it to this assistant. There can be a maximum of 1 vector store attached to the assistant.",
                            "items": {
                              "type": "object",
                              "properties": {
                                "file_ids": {
                                  "type": "array",
                                  "description": "A list of file IDs to add to the vector store. There can be a maximum of 10000 files in a vector store.",
                                  "items": {
                                    "type": "string"
                                  },
                                  "maxItems": 10000
                                },
                                "metadata": {
                                  "type": "object",
                                  "description": "Set of 16 key-value pairs that can be attached to a vector store. This can be useful for storing additional information about the vector store in a structured format. Keys can be a maximum of 64 characters long and values can be a maxium of 512 characters long.",
                                  "additionalProperties": {
                                    "type": "string",
                                    "maxLength": 512
                                  },
                                  "maxProperties": 16
                                }
                              }
                            },
                            "maxItems": 1
                          }
                        }
                      }
                    }
                  },
                  "metadata": {
                    "type": "object",
                    "description": "Set of 16 key-value pairs that can be attached to an object. This can be useful for storing additional information about the object in a structured format. Keys can be a maximum of 64 characters long and values can be a maxium of 512 characters long.",
                    "additionalProperties": {
                      "type": "string",
                      "maxLength": 512
                    },
                    "maxProperties": 16
                  },
                  "temperature": {
                    "type": "number",
                    "description": "What sampling temperature to use, between 0 and 1. Higher values like 0.8 will make the output more random, while lower values like 0.2 will make it more focused and deterministic.",
                    "default": 1,
                    "minimum": 0,
                    "maximum": 2
                  },
                  "top_p": {
                    "type": "number",
                    "description": "An alternative to sampling with temperature, called nucleus sampling, where the model considers the results of the tokens with top_p probability mass. So 0.1 means only the tokens comprising the top 10% probability mass are considered.",
                    "default": 1
                  },
                  "response_format": {
                    "anyOf": [
                      {
                        "type": "string",
                        "default": "auto"
                      },
                      {
                        "type": "object",
                        "description": "An object describing the expected output of the model. If json_object only function type tools are allowed to be passed to the Run. If text the model can return text or any value needed."
                      }
                    ],
                    "description": "Specifies the format that the model must output. Compatible with GPT-4 Turbo and all GPT-3.5 Turbo models since gpt-3.5-turbo-1106."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "assistant": {
                      "type": "object",
                      "description": "The created assistant object."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List assistants",
        "description": "Returns a list of assistants.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 20.",
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Sort order by the `created_at` timestamp of the objects. `asc` for ascending order and `desc` for descending order.",
            "schema": {
              "type": "string",
              "default": "desc",
              "enum": ["asc", "desc"]
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "A cursor for use in pagination. `after` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include after=obj_foo in order to fetch the next page of the list.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "description": "A cursor for use in pagination. `before` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include before=obj_foo in order to fetch the previous page of the list.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "description": "An assistant object."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/assistants/{assistant_id}": {
      "get": {
        "summary": "Retrieve an assistant",
        "description": "Retrieves an assistant.",
        "parameters": [
          {
            "name": "assistant_id",
            "in": "path",
            "description": "The ID of the assistant to retrieve.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "The assistant object matching the specified ID."
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Modify an assistant",
        "description": "Modifies an assistant.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "ID of the model to use. You can use the List models API to see all of your available models, or see our Model overview for descriptions of them."
                  },
                  "name": {
                    "type": "string",
                    "maxLength": 256,
                    "description": "The name of the assistant. The maximum length is 256 characters."
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 512,
                    "description": "The description of the assistant. The maximum length is 512 characters."
                  },
                  "instructions": {
                    "type": "string",
                    "maxLength": 256000,
                    "description": "The system instructions that the assistant uses. The maximum length is 256,000 characters."
                  },
                  "tools": {
                    "type": "array",
                    "description": "A list of tool enabled on the assistant. There can be a maximum of 128 tools per assistant. Tools can be of types `code_interpreter`, `file_search`, or `function`.",
                    "items": {
                      "anyOf": [
                        {
                          "type": "object",
                          "required": ["type"],
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": ["code_interpreter"],
                              "description": "The type of tool being defined: code_interpreter"
                            }
                          }
                        },
                        {
                          "type": "object",
                          "required": ["type"],
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": ["file_search"],
                              "description": "The type of tool being defined: file_search"
                            }
                          }
                        },
                        {
                          "type": "object",
                          "required": ["type", "function"],
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": ["function"],
                              "description": "The type of tool being defined: function"
                            },
                            "function": {
                              "type": "object",
                              "description": "The function properties for the tool."
                            }
                          }
                        }
                      ]
                    },
                    "default": [],
                    "maxItems": 128
                  },
                  "tool_resources": {
                    "type": "object",
                    "description": "A set of resources that are used by the assistant's tools. The resources are specific to the type of tool. For example, the `code_interpreter` tool requires a list of file IDs, while the `file_search` tool requires a list of vector store IDs.",
                    "properties": {
                      "code_interpreter": {
                        "type": "object",
                        "properties": {
                          "file_ids": {
                            "type": "array",
                            "description": "A list of file IDs made available to the code_interpreter tool. There can be a maximum of 20 files associated with the tool.",
                            "items": {
                              "type": "string"
                            },
                            "default": [],
                            "maxItems": 20
                          }
                        }
                      },
                      "file_search": {
                        "type": "object",
                        "properties": {
                          "vector_store_ids": {
                            "type": "array",
                            "description": "The vector store attached to this assistant. There can be a maximum of 1 vector store attached to the assistant.",
                            "items": {
                              "type": "string"
                            },
                            "maxItems": 1
                          },
                          "vector_stores": {
                            "type": "array",
                            "description": "A helper to create a vector store with file_ids and attach it to this assistant. There can be a maximum of 1 vector store attached to the assistant.",
                            "items": {
                              "type": "object",
                              "properties": {
                                "file_ids": {
                                  "type": "array",
                                  "description": "A list of file IDs to add to the vector store. There can be a maximum of 10000 files in a vector store.",
                                  "items": {
                                    "type": "string"
                                  },
                                  "maxItems": 10000
                                },
                                "metadata": {
                                  "type": "object",
                                  "description": "Set of 16 key-value pairs that can be attached to a vector store. This can be useful for storing additional information about the vector store in a structured format. Keys can be a maximum of 64 characters long and values can be a maxium of 512 characters long.",
                                  "additionalProperties": {
                                    "type": "string",
                                    "maxLength": 512
                                  },
                                  "maxProperties": 16
                                }
                              }
                            },
                            "maxItems": 1
                          }
                        }
                      }
                    }
                  },
                  "metadata": {
                    "type": "object",
                    "description": "Set of 16 key-value pairs that can be attached to an object. This can be useful for storing additional information about the object in a structured format. Keys can be a maximum of 64 characters long and values can be a maxium of 512 characters long.",
                    "additionalProperties": {
                      "type": "string",
                      "maxLength": 512
                    },
                    "maxProperties": 16
                  },
                  "temperature": {
                    "type": "number",
                    "description": "What sampling temperature to use, between 0 and 2. Higher values like 0.8 will make the output more random, while lower values like 0.2 will make it more focused and deterministic.",
                    "default": 1,
                    "minimum": 0,
                    "maximum": 2
                  },
                  "top_p": {
                    "type": "number",
                    "description": "An alternative to sampling with temperature, called nucleus sampling, where the model considers the results of the tokens with top_p probability mass. So 0.1 means only the tokens comprising the top 10% probability mass are considered.",
                    "default": 1
                  },
                  "response_format": {
                    "anyOf": [
                      {
                        "type": "string",
                        "default": "auto"
                      },
                      {
                        "type": "object",
                        "description": "An object describing the expected output of the model. If json_object only function type tools are allowed to be passed to the Run. If text the model can return text or any value needed."
                      }
                    ],
                    "description": "Specifies the format that the model must output. Compatible with GPT-4 Turbo and all GPT-3.5 Turbo models since gpt-3.5-turbo-1106."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "The modified assistant object."
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete an assistant",
        "description": "Delete an assistant.",
        "parameters": [
          {
            "name": "assistant_id",
            "in": "path",
            "description": "The ID of the assistant to delete.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "The deletion status.",
                      "enum": ["success"]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/threads": {
      "post": {
        "summary": "Create a thread",
        "description": "Create a thread.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "messages": {
                    "type": "array",
                    "description": "A list of messages to start the thread with.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "assistant_id": {
                          "type": "string",
                          "description": "The ID of the assistant to use to execute this run."
                        },
                        "content": {
                          "type": "string",
                          "description": "The prompt(s) to generate completions for, encoded as a string, array of strings, array of tokens, or array of token arrays.\n\nNote that <|endoftext|> is the document separator that the model sees during training, so if a prompt is not specified the model will generate as if from the beginning of a new document."
                        },
                        "role": {
                          "type": "string",
                          "description": "The role of the entity that is creating the message. Allowed values include:\n- `user`: Indicates the message is sent by an actual user and should be used in most cases to represent user-generated messages.\n- `assistant`: Indicates the message is generated by the assistant. Use this value to insert messages from the assistant into the conversation."
                        }
                      },
                      "required": [
                        "assistant_id",
                        "content",
                        "role"
                      ]
                    }
                  },
                  "tool_resources": {
                    "type": "object",
                    "description": "A set of resources that are made available to the assistant's tools in this thread. The resources are specific to the type of tool. For example, the `code_interpreter` tool requires a list of file IDs, while the `file_search` tool requires a list of vector store IDs.",
                    "properties": {
                      "code_interpreter": {
                        "type": "object",
                        "description": "Configuration for the `code_interpreter` tool.",
                        "properties": {
                          "file_ids": {
                            "type": "array",
                            "description": "A list of file IDs made available to the `code_interpreter` tool. There can be a maximum of 20 files associated with the tool.",
                            "items": {
                              "type": "string"
                            },
                            "default": [],
                            "maxItems": 20
                          }
                        }
                      },
                      "file_search": {
                        "type": "object",
                        "description": "Configuration for the `file_search` tool.",
                        "properties": {
                          "vector_store_ids": {
                            "type": "array",
                            "description": "The vector store attached to this thread. There can be a maximum of 1 vector store attached to the thread.",
                            "items": {
                              "type": "string"
                            },
                            "maxItems": 1
                          },
                          "vector_stores": {
                            "type": "array",
                            "description": "A helper to create a vector store with file_ids and attach it to this thread. There can be a maximum of 1 vector store attached to the thread.",
                            "items": {
                              "type": "object",
                              "properties": {
                                "file_ids": {
                                  "type": "array",
                                  "description": "A list of file IDs to add to the vector store. There can be a maximum of 10000 files in a vector store.",
                                  "items": {
                                    "type": "string"
                                  },
                                  "maxItems": 10000
                                },
                                "metadata": {
                                  "type": "object",
                                  "description": "Set of 16 key-value pairs that can be attached to a vector store. This can be useful for storing additional information about the vector store in a structured format. Keys can be a maximum of 64 characters long and values can be a maxium of 512 characters long.",
                                  "additionalProperties": {
                                    "type": "string",
                                    "maxLength": 512
                                  },
                                  "maxProperties": 16
                                }
                              },
                              "required": [
                                "file_ids"
                              ]
                            },
                            "maxItems": 1
                          }
                        }
                      }
                    }
                  },
                  "metadata": {
                    "type": "object",
                    "description": "Set of 16 key-value pairs that can be attached to an object. This can be useful for storing additional information about the object in a structured format. Keys can be a maximum of 64 characters long and values can be a maxium of 512 characters long.",
                    "additionalProperties": {
                      "type": "string",
                      "maxLength": 512
                    },
                    "maxProperties": 16
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "thread": {
                      "type": "object",
                      "description": "The created thread object."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/threads/{thread_id}": {
      "get": {
        "summary": "Retrieve a thread",
        "description": "Retrieves a thread.",
        "parameters": [
          {
            "name": "thread_id",
            "in": "path",
            "description": "The ID of the thread to retrieve.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "thread": {
                      "type": "object",
                      "description": "The thread object matching the specified ID."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Modify a thread",
        "description": "Modifies a thread.",
        "parameters": [
          {
            "name": "thread_id",
            "in": "path",
            "description": "The ID of the thread to modify. Only the `metadata` can be modified.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "tool_resources": {
                    "type": "object",
                    "description": "A set of resources that are made available to the assistant's tools in this thread. The resources are specific to the type of tool. For example, the `code_interpreter` tool requires a list of file IDs, while the `file_search` tool requires a list of vector store IDs.",
                    "properties": {
                      "code_interpreter": {
                        "type": "object",
                        "description": "Configuration for the `code_interpreter` tool.",
                        "properties": {
                          "file_ids": {
                            "type": "array",
                            "description": "A list of file IDs made available to the `code_interpreter` tool. There can be a maximum of 20 files associated with the tool.",
                            "items": {
                              "type": "string"
                            },
                            "default": [],
                            "maxItems": 20
                          }
                        }
                      },
                      "file_search": {
                        "type": "object",
                        "description": "Configuration for the `file_search` tool.",
                        "properties": {
                          "vector_store_ids": {
                            "type": "array",
                            "description": "The vector store attached to this thread. There can be a maximum of 1 vector store attached to the thread.",
                            "items": {
                              "type": "string"
                            },
                            "maxItems": 1
                          }
                        }
                      }
                    }
                  },
                  "metadata": {
                    "type": "object",
                    "description": "Set of 16 key-value pairs that can be attached to an object. This can be useful for storing additional information about the object in a structured format. Keys can be a maximum of 64 characters long and values can be a maxium of 512 characters long.",
                    "additionalProperties": {
                      "type": "string",
                      "maxLength": 512
                    },
                    "maxProperties": 16
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "thread": {
                      "type": "object",
                      "description": "The modified thread object matching the specified ID."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a thread",
        "description": "Delete a thread.",
        "parameters": [
          {
            "name": "thread_id",
            "in": "path",
            "description": "The ID of the thread to delete.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "The deletion status.",
                      "enum": ["success"]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/chat/completions": {
      "post": {
        "summary": "Create a completion",
        "description": "Creates a completion for the provided prompt and parameters.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "assistant_id": {
                    "type": "string",
                    "description": "The ID of the assistant to use to execute this run."
                  },
                  "thread_id": {
                    "type": "string",
                    "description": "The ID of the thread to use to execute this run."
                  },
                  "messages": {
                    "type": "array",
                    "description": "A list of messages to include in the completion request.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "role": {
                          "type": "string",
                          "description": "The role of the message sender. Can be 'user' or 'assistant'."
                        },
                        "content": {
                          "type": "array",
                          "description": "The content of the message.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "description": "The type of content. Can be 'text' or 'image_url'."
                              },
                              "text": {
                                "type": "string",
                                "description": "The text content of the message, if type is 'text'."
                              },
                              "image_url": {
                                "type": "object",
                                "description": "The image URL, if type is 'image_url'.",
                                "properties": {
                                  "url": {
                                    "type": "string",
                                    "description": "The URL of the image."
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "max_tokens": {
                    "type": "integer",
                    "description": "The maximum number of tokens to generate in the completion."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "completion": {
                      "type": "object",
                      "description": "A completion object."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/threads/{thread_id}/messages": {
      "post": {
        "summary": "Create a message",
        "description": "Create a new message in the specified thread.",
        "parameters": [
          {
            "name": "thread_id",
            "description": "The id of the thread to create a message for.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "assistant_id": {
                    "type": "string",
                    "description": "The ID of the assistant to use to execute this run."
                  },
                  "content": {
                    "type": "string",
                    "description": "The prompt(s) to generate completions for, encoded as a string, array of strings, array of tokens, or array of token arrays.\n\nNote that <|endoftext|> is the document separator that the model sees during training, so if a prompt is not specified the model will generate as if from the beginning of a new document."
                  },
                  "role": {
                    "type": "string",
                    "description": "The role of the entity that is creating the message.",
                    "enum": ["user", "assistant"],
                    "default": "user"
                  }
                },
                "required": ["content", "role"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "description": "A message object."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List messages",
        "description": "Returns a list of messages for a given thread.",
        "parameters": [
          {
            "name": "thread_id",
            "description": "The id of the thread to retrieve messages for.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "A list of message objects."
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/threads/{thread_id}/messages/{message_id}": {
      "get": {
        "summary": "Retrieve a message",
        "description": "Retrieve a message.",
        "parameters": [
          {
            "name": "thread_id",
            "description": "The ID of the thread to which this message belongs.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "message_id",
            "description": "The ID of the message to retrieve.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "description": "The message object matching the specified ID."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Modify a message",
        "description": "Modifies an existing message.",
        "parameters": [
          {
            "name": "thread_id",
            "description": "The ID of the thread to which this message belongs.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "message_id",
            "description": "The ID of the message to modify.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "content": {
                    "type": "string",
                    "description": "The updated content of the message."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "description": "The modified message object."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a message",
        "description": "Deletes a message.",
        "parameters": [
          {
            "name": "thread_id",
            "description": "The ID of the thread to which this message belongs.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "message_id",
            "description": "The ID of the message to delete.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "The deletion status.",
                      "enum": ["success"]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/text-to-speech": {
      "post": {
        "summary": "API that converts text into lifelike speech with best-in-class latency & uses the most advanced AI audio model ever. Create voiceovers for your videos, audiobooks, or create AI chatbots for free.",
        "parameters": [
          {
            "name": "conversation_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "message",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "completion": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/chat/list_agents": {
      "post": {
        "summary": "List Agents",
        "parameters": [
          {
            "name": "uid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "completion": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  } 
}